# Odin specific
*.exe
*.pdb
*.ilk
*.obj
*.lib
*.exp
*.dll
*.so
*.dylib

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db 

# Font files
*.ttf
*.otf

# Cursor files
context.md
sprite-prompts.txt
ols.json
